<div class="row" ng-init="getTataRate()">
	<div class="col-md-12">
		<form role="form" name="form">
			<div class="panel panel-default" width="100%">
				<div class="col-md-12">
					<h3 class="panel-title"><strong>{{ 'ratepage.daily.title' | i18n }}</strong></h3>
					<div class="edit-tata-rate">
						<a type="button" class="btn btn-primary btn-xs right" href ng-click="editTataRate(1)"><i class="glyphicon glyphicon-pencil"></i></a>
					</div>
				</div>
			  		<div class="panel-body" text-align="left">
			  				<table class="ratetable" width="100%">
			  					<tr>
			  						<th class="left">{{ 'ratepage.hour.label' | i18n }}</th>
			  						<th>{{ 'ratepage.baserate.label' | i18n }}</th>
			  						<th>{{ 'ratepage.handicappedrate.label1' | i18n }}<br/>{{ 'ratepage.handicappedrate.label2' | i18n }}</th>
			  					</tr>
			  					<tr>
			  						<td class="left"><label>{{ tataratelist.hours.min }}</label></td>
			  						<td ng-if="!showTataRateDailyEdit">{{ tataratelist.daily.base.min | euroVal }}</td>
			  						<td ng-if="!showTataRateDailyEdit">{{ tataratelist.daily.handicapped.min | euroVal }}</td>
			  						<td ng-if="showTataRateDailyEdit">
			  							<input id="tataRateDailyMin" type="text" class="form-control" name="tRateDailyMin" ng-model="tataratelist.daily.base.min" ng-pattern="decimalNumbers" required placeholder="{{ 'ratepage.field.base.placeholder' | i18n }}" >
			  							<div class="alert alert-danger" ng-show="!isInit && form.tRateDailyMin.$error.required">{{ 'ratepage.field.error.required' | i18n }}</div>
			  							<div class="alert alert-danger" ng-show="!isInit && form.tRateDailyMin.$error.pattern">{{ 'ratepage.field.error.pattern' | i18n }}</div>
			  						</td>
			  						<td ng-if="showTataRateDailyEdit">
			  							<input id="tataRateHandicappedMin" type="text" class="form-control" name="tRateHandicappedMin" ng-model="tataratelist.daily.handicapped.min" ng-pattern="decimalNumbers" required placeholder="{{ 'ratepage.field.handicapped.placeholder' | i18n }}" >
			  							<div class="alert alert-danger" ng-show="!isInit && form.tRateHandicappedMin.$error.required">{{ 'ratepage.field.error.required' | i18n }}</div>
			  							<div class="alert alert-danger" ng-show="!isInit && form.tRateHandicappedMin.$error.pattern">{{ 'ratepage.field.error.pattern' | i18n }}</div>
			  						</td>
			  					</tr>
			  					<tr>
			  						<td class="left"><label>{{ tataratelist.hours.medium }}</label></td>
			  						<td ng-if="!showTataRateDailyEdit">{{ tataratelist.daily.base.medium | euroVal }}</td>
			  						<td ng-if="!showTataRateDailyEdit">{{ tataratelist.daily.handicapped.medium | euroVal }}</td>
			  						<td ng-if="showTataRateDailyEdit">
			  							<input id="tataRateDailyMedium" type="text" class="form-control" name="tRateDailyMedium" ng-model="tataratelist.daily.base.medium" ng-pattern="decimalNumbers" required placeholder="{{ 'ratepage.field.base.placeholder' | i18n }}" >
			  							<div class="alert alert-danger" ng-show="!isInit && form.tRateDailyMedium.$error.required">{{ 'ratepage.field.error.required' | i18n }}</div>
			  							<div class="alert alert-danger" ng-show="!isInit && form.tRateDailyMedium.$error.pattern">{{ 'ratepage.field.error.pattern' | i18n }}</div>
			  						</td>
			  						<td ng-if="showTataRateDailyEdit">
			  							<input id="tataRateHandicappedMedium" type="text" class="form-control" name="tRateHandicappedMedium" ng-model="tataratelist.daily.handicapped.medium" ng-pattern="decimalNumbers" required placeholder="{{ 'ratepage.field.handicapped.placeholder' | i18n }}" >
			  							<div class="alert alert-danger" ng-show="!isInit && form.tRateHandicappedMedium.$error.required">{{ 'ratepage.field.error.required' | i18n }}</div>
			  							<div class="alert alert-danger" ng-show="!isInit && form.tRateHandicappedMedium.$error.pattern">{{ 'ratepage.field.error.pattern' | i18n }}</div>
			  						</td>
			  					</tr>
			  					<tr>
			  						<td class="left"><label>{{ tataratelist.hours.max }}</label></td>
			  						<td ng-if="!showTataRateDailyEdit">{{ tataratelist.daily.base.max | euroVal }}</td>
			  						<td ng-if="!showTataRateDailyEdit">{{ tataratelist.daily.handicapped.max | euroVal }}</td>
			  						<td ng-if="showTataRateDailyEdit">
			  							<input id="tataRateDailyMax" type="text" class="form-control" name="tRateDailyMax" ng-model="tataratelist.daily.base.max" ng-pattern="decimalNumbers" required placeholder="{{ 'ratepage.field.base.placeholder' | i18n }}" >
			  							<div class="alert alert-danger" ng-show="!isInit && form.tRateDailyMax.$error.required">{{ 'ratepage.field.error.required' | i18n }}</div>
			  							<div class="alert alert-danger" ng-show="!isInit && form.tRateDailyMax.$error.pattern">{{ 'ratepage.field.error.pattern' | i18n }}</div>
			  						</td>
			  						<td ng-if="showTataRateDailyEdit">
			  							<input id="tataRateHandicappedMax" type="text" class="form-control" name="tRateHandicappedMax" ng-model="tataratelist.daily.handicapped.max" ng-pattern="decimalNumbers" required placeholder="{{ 'ratepage.field.handicapped.placeholder' | i18n }}" >
			  							<div class="alert alert-danger" ng-show="!isInit && form.tRateHandicappedMax.$error.required">{{ 'ratepage.field.error.required' | i18n }}</div>
			  							<div class="alert alert-danger" ng-show="!isInit && form.tRateHandicappedMax.$error.pattern">{{ 'ratepage.field.error.pattern' | i18n }}</div>
			  						</td>
			  					</tr>
			  					<tr ng-if="tataratelist.hours.max_no_food">
			  						<td class="left"><label>{{ tataratelist.hours.max_no_food }}</label></td>
			  						<td ng-if="!showTataRateDailyEdit">{{ tataratelist.daily.base.max_no_food | euroVal }}</td>
			  						<td ng-if="!showTataRateDailyEdit">{{ tataratelist.daily.handicapped.max_no_food | euroVal }}</td>
			  						<td ng-if="showTataRateDailyEdit">
			  							<input id="tataRateDailyMaxNoFood" type="text" class="form-control" name="tRateDailyMaxNoFood" ng-model="tataratelist.daily.base.max_no_food" ng-pattern="decimalNumbers" required placeholder="{{ 'ratepage.field.base.placeholder' | i18n }}" >
			  							<div class="alert alert-danger" ng-show="!isInit && form.tRateDailyMaxNoFood.$error.required">{{ 'ratepage.field.error.required' | i18n }}</div>
			  							<div class="alert alert-danger" ng-show="!isInit && form.tRateDailyMaxNoFood.$error.pattern">{{ 'ratepage.field.error.pattern' | i18n }}</div>
			  						</td>
			  						<td ng-if="showTataRateDailyEdit">
			  							<input id="tataRateHandicappedMaxNoFood" type="text" class="form-control" name="tRateDailyMaxNoFood" ng-model="tataratelist.daily.handicapped.max_no_food" ng-pattern="decimalNumbers" required placeholder="{{ 'ratepage.field.handicapped.placeholder' | i18n }}" >
			  							<div class="alert alert-danger" ng-show="!isInit && form.tRateDailyMaxNoFood.$error.required">{{ 'ratepage.field.error.required' | i18n }}</div>
			  							<div class="alert alert-danger" ng-show="!isInit && form.tRateDailyMaxNoFood.$error.pattern">{{ 'ratepage.field.error.pattern' | i18n }}</div>
			  						</td>
			  					</tr>
			  				</table>
					</div>
					<!-- <div class="field-error" ng-show="showUpdatingBPErrorMessage">{{ 'err_in_update_bikepoint' | i18n }}</div> -->
					<div class="row" ng-show="showTataRateDailyEdit">
						<div class="col-md-offset-9 col-md-3">
							<button type="button" class="btn btn-default" ng-click="closeEditTataRateView()">{{ 'ratepage.button.delete' | i18n }}</button>&nbsp;&nbsp;
							<button type="button" class="btn btn-primary" ng-click="updateTataRate(form, tataratelist)">{{ 'ratepage.button.save' | i18n }}</button>
						</div>
					</div>
				</div>
		</form>
	</div>
	<div class="col-md-12">
		<form role="form" name="form1">
			<div class="panel panel-default" width="100%">
				<div class="col-md-12">
					<h3 class="panel-title"><strong>{{ 'ratepage.holiday.title' | i18n }}</strong></h3>
					<div class="edit-tata-rate">
						<a type="button" class="btn btn-primary btn-xs right" href ng-click="editTataRate(2)"><i class="glyphicon glyphicon-pencil"></i></a>
					</div>
				</div>
			  		<div class="panel-body" text-align="left">
			  				<table class="ratetable" width="100%">
			  					<tr>
			  						<th class="left">{{ 'ratepage.hour.label' | i18n }}</th>
			  						<th>{{ 'ratepage.baserate.label' | i18n }}</th>
			  						<th>{{ 'ratepage.handicappedrate.label1' | i18n }}<br/>{{ 'ratepage.handicappedrate.label2' | i18n }}</th>
			  					</tr>
			  					<tr>
			  						<td class="left"><label>{{ tataratelist.hours.min }}</label></td>
			  						<td ng-if="!showTataRateHolidayEdit">{{ tataratelist.holiday.base.min | euroVal }}</td>
			  						<td ng-if="!showTataRateHolidayEdit">{{ tataratelist.holiday.handicapped.min | euroVal }}</td>
			  						<td ng-if="showTataRateHolidayEdit">
			  							<input id="tataRateHolidayMin" type="text" class="form-control" name="tRateHolidayMin" ng-model="tataratelist.holiday.base.min" ng-pattern="decimalNumbers" required placeholder="{{ 'ratepage.field.base.placeholder' | i18n }}" >
			  							<div class="alert alert-danger" ng-show="!isInit && form1.tRateHolidayMin.$error.required">{{ 'ratepage.field.error.required' | i18n }}</div>
			  							<div class="alert alert-danger" ng-show="!isInit && form1.tRateHolidayMin.$error.pattern">{{ 'ratepage.field.error.pattern' | i18n }}</div>
			  						</td>
			  						<td ng-if="showTataRateHolidayEdit">
			  							<input id="tataRateHolidayHandicappedMin" type="text" class="form-control" name="tRateHolidayHandicappedMin" ng-model="tataratelist.holiday.handicapped.min" ng-pattern="decimalNumbers" required placeholder="{{ 'ratepage.field.handicapped.placeholder' | i18n }}" >
			  							<div class="alert alert-danger" ng-show="!isInit && form1.tRateHolidayHandicappedMin.$error.required">{{ 'ratepage.field.error.required' | i18n }}</div>
			  							<div class="alert alert-danger" ng-show="!isInit && form1.tRateHolidayHandicappedMin.$error.pattern">{{ 'ratepage.field.error.pattern' | i18n }}</div>
			  						</td>
			  					</tr>
			  					<tr>
			  						<td class="left"><label>{{ tataratelist.hours.medium }}</label></td>
			  						<td ng-if="!showTataRateHolidayEdit">{{ tataratelist.holiday.base.medium | euroVal }}</td>
			  						<td ng-if="!showTataRateHolidayEdit">{{ tataratelist.holiday.handicapped.medium | euroVal }}</td>
			  						<td ng-if="showTataRateHolidayEdit">
			  							<input id="tataRateHolidayMedium" type="text" class="form-control" name="tRateHolidayMedium" ng-model="tataratelist.holiday.base.medium" ng-pattern="decimalNumbers" required placeholder="{{ 'ratepage.field.base.placeholder' | i18n }}" >
			  							<div class="alert alert-danger" ng-show="!isInit && form1.tRateHolidayMedium.$error.required">{{ 'ratepage.field.error.required' | i18n }}</div>
			  							<div class="alert alert-danger" ng-show="!isInit && form1.tRateHolidayMedium.$error.pattern">{{ 'ratepage.field.error.pattern' | i18n }}</div>
			  						</td>
			  						<td ng-if="showTataRateHolidayEdit">
			  							<input id="tataRateHolidayHandicappedMedium" type="text" class="form-control" name="tRateHolidayHandicappedMedium" ng-model="tataratelist.holiday.handicapped.medium" ng-pattern="decimalNumbers" required placeholder="{{ 'ratepage.field.handicapped.placeholder' | i18n }}" >
			  							<div class="alert alert-danger" ng-show="!isInit && form1.tRateHolidayHandicappedMedium.$error.required">{{ 'ratepage.field.error.required' | i18n }}</div>
			  							<div class="alert alert-danger" ng-show="!isInit && form1.tRateHolidayHandicappedMedium.$error.pattern">{{ 'ratepage.field.error.pattern' | i18n }}</div>
			  						</td>
			  					</tr>
			  					<tr>
			  						<td class="left"><label>{{ tataratelist.hours.max }}</label></td>
			  						<td ng-if="!showTataRateHolidayEdit">{{ tataratelist.holiday.base.max | euroVal }}</td>
			  						<td ng-if="!showTataRateHolidayEdit">{{ tataratelist.holiday.handicapped.max | euroVal }}</td>
			  						<td ng-if="showTataRateHolidayEdit">
			  							<input id="tataRateHolidayMax" type="text" class="form-control" name="tRateHolidayMax" ng-model="tataratelist.holiday.base.max" ng-pattern="decimalNumbers" required placeholder="{{ 'ratepage.field.base.placeholder' | i18n }}" >
			  							<div class="alert alert-danger" ng-show="!isInit && form1.tRateHolidayMax.$error.required">{{ 'ratepage.field.error.required' | i18n }}</div>
			  							<div class="alert alert-danger" ng-show="!isInit && form1.tRateHolidayMax.$error.pattern">{{ 'ratepage.field.error.pattern' | i18n }}</div>
			  						</td>
			  						<td ng-if="showTataRateHolidayEdit">
			  							<input id="tataRateHolidayHandicappedMax" type="text" class="form-control" name="tRateHolidayHandicappedMax" ng-model="tataratelist.holiday.handicapped.max" ng-pattern="decimalNumbers" required placeholder="{{ 'ratepage.field.handicapped.placeholder' | i18n }}" >
			  							<div class="alert alert-danger" ng-show="!isInit && form1.tRateHolidayHandicappedMax.$error.required">{{ 'ratepage.field.error.required' | i18n }}</div>
			  							<div class="alert alert-danger" ng-show="!isInit && form1.tRateHolidayHandicappedMax.$error.pattern">{{ 'ratepage.field.error.pattern' | i18n }}</div>
			  						</td>
			  					</tr>
			  					<tr ng-if="tataratelist.hours.max_no_food">
			  						<td class="left"><label>{{ tataratelist.hours.max_no_food }}</label></td>
			  						<td ng-if="!showTataRateHolidayEdit">{{ tataratelist.holiday.base.max_no_food | euroVal }}</td>
			  						<td ng-if="!showTataRateHolidayEdit">{{ tataratelist.holiday.handicapped.max_no_food | euroVal }}</td>
			  						<td ng-if="showTataRateHolidayEdit">
			  							<input id="tataRateHolidayMaxNoFood" type="text" class="form-control" name="tRateHolidayMaxNoFood" ng-model="tataratelist.holiday.base.max_no_food" ng-pattern="decimalNumbers" required placeholder="{{ 'ratepage.field.base.placeholder' | i18n }}" >
			  							<div class="alert alert-danger" ng-show="!isInit && form1.tRateHolidayMaxNoFood.$error.required">{{ 'ratepage.field.error.required' | i18n }}</div>
			  							<div class="alert alert-danger" ng-show="!isInit && form1.tRateHolidayMaxNoFood.$error.pattern">{{ 'ratepage.field.error.pattern' | i18n }}</div>
			  						</td>
			  						<td ng-if="showTataRateHolidayEdit">
			  							<input id="tataRateHolidayHandicappedMaxNoFood" type="text" class="form-control" name="tRateHolidayHandicappedMaxNoFood" ng-model="tataratelist.holiday.handicapped.max_no_food" ng-pattern="decimalNumbers" required placeholder="{{ 'ratepage.field.handicapped.placeholder' | i18n }}" >
			  							<div class="alert alert-danger" ng-show="!isInit && form1.tRateHolidayHandicappedMaxNoFood.$error.required">{{ 'ratepage.field.error.required' | i18n }}</div>
			  							<div class="alert alert-danger" ng-show="!isInit && form1.tRateHolidayHandicappedMaxNoFood.$error.pattern">{{ 'ratepage.field.error.pattern' | i18n }}</div>
			  						</td>
			  					</tr>
			  				</table>
					</div>
					<!-- <div class="field-error" ng-show="showUpdatingBPErrorMessage">{{ 'err_in_update_bikepoint' | i18n }}</div> -->
					<div class="row" ng-show="showTataRateHolidayEdit">
						<div class="col-md-offset-9 col-md-3">
							<button type="button" class="btn btn-default" ng-click="closeEditTataRateView()">{{ 'ratepage.button.delete' | i18n }}</button>&nbsp;&nbsp;
							<button type="button" class="btn btn-primary" ng-click="updateTataRate(form1, tataratelist)">{{ 'ratepage.button.save' | i18n }}</button>
						</div>
					</div>
				</div>
		</form>
	</div>
	<div class="col-md-12">
		<form role="form" name="form2">
			<div class="panel panel-default" width="100%">
				<div class="col-md-12">
					<h3 class="panel-title"><strong>{{ 'ratepage.night.title' | i18n }}</strong></h3>
					<div class="edit-tata-rate">
						<a type="button" class="btn btn-primary btn-xs right" href ng-click="editTataRate(3)"><i class="glyphicon glyphicon-pencil"></i></a>
					</div>
				</div>
			  		<div class="panel-body" text-align="left">
			  				<table class="ratetable" width="100%">
			  					<tr>
			  						<th class="left">{{ 'ratepage.hour.label' | i18n }}</th>
			  						<th>{{ 'ratepage.baserate.label' | i18n }}</th>
			  						<th>{{ 'ratepage.handicappedrate.label1' | i18n }}<br/>{{ 'ratepage.handicappedrate.label2' | i18n }}</th>
			  					</tr>
			  					<tr>
			  						<td class="left"><label>{{ tataratelist.hours.min }}</label></td>
			  						<td ng-if="!showTataRateNightEdit">{{ tataratelist.night.base.min | euroVal }}</td>
			  						<td ng-if="!showTataRateNightEdit">{{ tataratelist.night.handicapped.min | euroVal }}</td>
			  						<td ng-if="showTataRateNightEdit">
			  							<input id="tataRateNightMin" type="text" class="form-control" name="tRateNightMin" ng-model="tataratelist.night.base.min" ng-pattern="decimalNumbers" required placeholder="{{ 'ratepage.field.base.placeholder' | i18n }}" >
			  							<div class="alert alert-danger" ng-show="!isInit && form2.tRateNightMin.$error.required">{{ 'ratepage.field.error.required' | i18n }}</div>
			  							<div class="alert alert-danger" ng-show="!isInit && form2.tRateNightMin.$error.pattern">{{ 'ratepage.field.error.pattern' | i18n }}</div>
			  						</td>
			  						<td ng-if="showTataRateNightEdit">
			  							<input id="tataRateNightHandicappedMin" type="text" class="form-control" name="tRateNightHandicappedMin" ng-model="tataratelist.night.handicapped.min" ng-pattern="decimalNumbers" required placeholder="{{ 'ratepage.field.handicapped.placeholder' | i18n }}" >
			  							<div class="alert alert-danger" ng-show="!isInit && form2.tRateNightHandicappedMin.$error.required">{{ 'ratepage.field.error.required' | i18n }}</div>
			  							<div class="alert alert-danger" ng-show="!isInit && form2.tRateNightHandicappedMin.$error.pattern">{{ 'ratepage.field.error.pattern' | i18n }}</div>
			  						</td>
			  					</tr>
			  					<tr>
			  						<td class="left"><label>{{ tataratelist.hours.medium }}</label></td>
			  						<td ng-if="!showTataRateNightEdit">{{ tataratelist.night.base.medium | euroVal }}</td>
			  						<td ng-if="!showTataRateNightEdit">{{ tataratelist.night.handicapped.medium | euroVal }}</td>
			  						<td ng-if="showTataRateNightEdit">
			  							<input id="tataRateHolidayMedium" type="text" class="form-control" name="tRateNightMedium" ng-model="tataratelist.night.base.medium" ng-pattern="decimalNumbers" required placeholder="{{ 'ratepage.field.base.placeholder' | i18n }}" >
			  							<div class="alert alert-danger" ng-show="!isInit && form2.tRateNightMedium.$error.required">{{ 'ratepage.field.error.required' | i18n }}</div>
			  							<div class="alert alert-danger" ng-show="!isInit && form2.tRateNightMedium.$error.pattern">{{ 'ratepage.field.error.pattern' | i18n }}</div>
			  						</td>
			  						<td ng-if="showTataRateNightEdit">
			  							<input id="tataRateHolidayHandicappedMedium" type="text" class="form-control" name="tRateNightHandicappedMedium" ng-model="tataratelist.night.handicapped.medium" ng-pattern="decimalNumbers" required placeholder="{{ 'ratepage.field.handicapped.placeholder' | i18n }}" >
			  							<div class="alert alert-danger" ng-show="!isInit && form2.tRateNightHandicappedMedium.$error.required">{{ 'ratepage.field.error.required' | i18n }}</div>
			  							<div class="alert alert-danger" ng-show="!isInit && form2.tRateNightHandicappedMedium.$error.pattern">{{ 'ratepage.field.error.pattern' | i18n }}</div>
			  						</td>
			  					</tr>
			  					<tr>
			  						<td class="left"><label>{{ tataratelist.hours.max }}</label></td>
			  						<td ng-if="!showTataRateNightEdit">{{ tataratelist.night.base.max | euroVal }}</td>
			  						<td ng-if="!showTataRateNightEdit">{{ tataratelist.night.handicapped.max | euroVal }}</td>
			  						<td ng-if="showTataRateNightEdit">
			  							<input id="tataRateHolidayMax" type="text" class="form-control" name="tRateNightMax" ng-model="tataratelist.night.base.max" ng-pattern="decimalNumbers" required placeholder="{{ 'ratepage.field.base.placeholder' | i18n }}" >
			  							<div class="alert alert-danger" ng-show="!isInit && form2.tRateNightMax.$error.required">{{ 'ratepage.field.error.required' | i18n }}</div>
			  							<div class="alert alert-danger" ng-show="!isInit && form2.tRateNightMax.$error.pattern">{{ 'ratepage.field.error.pattern' | i18n }}</div>
			  						</td>
			  						<td ng-if="showTataRateNightEdit">
			  							<input id="tataRateHolidayHandicappedMax" type="text" class="form-control" name="tRateNightHandicappedMax" ng-model="tataratelist.night.handicapped.max" ng-pattern="decimalNumbers" required placeholder="{{ 'ratepage.field.handicapped.placeholder' | i18n }}" >
			  							<div class="alert alert-danger" ng-show="!isInit && form2.tRateNightHandicappedMax.$error.required">{{ 'ratepage.field.error.required' | i18n }}</div>
			  							<div class="alert alert-danger" ng-show="!isInit && form2.tRateNightHandicappedMax.$error.pattern">{{ 'ratepage.field.error.pattern' | i18n }}</div>
			  						</td>
			  					</tr>
			  					<tr ng-if="tataratelist.hours.max_no_food">
			  						<td class="left"><label>{{ tataratelist.hours.max_no_food }}</label></td>
			  						<td ng-if="!showTataRateNightEdit">{{ tataratelist.night.base.max_no_food | euroVal }}</td>
			  						<td ng-if="!showTataRateNightEdit">{{ tataratelist.night.handicapped.max_no_food | euroVal }}</td>
			  						<td ng-if="showTataRateNightEdit">
			  							<input id="tataRateHolidayMaxNoFood" type="text" class="form-control" name="tRateNightMaxNoFood" ng-model="tataratelist.night.base.max_no_food" ng-pattern="decimalNumbers" required placeholder="{{ 'ratepage.field.base.placeholder' | i18n }}" >
			  							<div class="alert alert-danger" ng-show="!isInit && form2.tRateNightMaxNoFood.$error.required">{{ 'ratepage.field.error.required' | i18n }}</div>
			  							<div class="alert alert-danger" ng-show="!isInit && form2.tRateNightMaxNoFood.$error.pattern">{{ 'ratepage.field.error.pattern' | i18n }}</div>
			  						</td>
			  						<td ng-if="showTataRateNightEdit">
			  							<input id="tataRateHolidayHandicappedMaxNoFood" type="text" class="form-control" name="tRateNightHandicappedMaxNoFood" ng-model="tataratelist.night.handicapped.max_no_food" ng-pattern="decimalNumbers" required placeholder="{{ 'ratepage.field.handicapped.placeholder' | i18n }}" >
			  							<div class="alert alert-danger" ng-show="!isInit && form2.tRateNightHandicappedMaxNoFood.$error.required">{{ 'ratepage.field.error.required' | i18n }}</div>
			  							<div class="alert alert-danger" ng-show="!isInit && form2.tRateNightHandicappedMaxNoFood.$error.pattern">{{ 'ratepage.field.error.pattern' | i18n }}</div>
			  						</td>
			  					</tr>
			  				</table>
					</div>
					<!-- <div class="field-error" ng-show="showUpdatingBPErrorMessage">{{ 'err_in_update_bikepoint' | i18n }}</div> -->
					<div class="row" ng-show="showTataRateNightEdit">
						<div class="col-md-offset-9 col-md-3">
							<button type="button" class="btn btn-default" ng-click="closeEditTataRateView()">{{ 'ratepage.button.delete' | i18n }}</button>&nbsp;&nbsp;
							<button type="button" class="btn btn-primary" ng-click="updateTataRate(form2, tataratelist)">{{ 'ratepage.button.save' | i18n }}</button>
						</div>
					</div>
				</div>
		</form>
	</div>
</div>