/* app css stylesheet */
.menu {
	list-style: none;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}

.menu:before {
	content: "[";
}

.menu:after {
	content: "]";
}

.menu>li {
	display: inline;
}

.menu>li:before {
	content: "|";
	padding-right: 0.3em;
}

.menu>li:nth-child(1):before {
	content: "";
	padding: 0;
}

.panel-body {
	padding: 10px !important;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
	font-size: 18px;
}

.navbar-nav > li {
	padding: 0 20px 0 20px;
}

.navbar .navbar-nav > .active > a, 
.navbar .navbar-nav > .active > a:hover, 
.navbar .navbar-nav > .active > a:focus {
	 color: #58acfa;
	 background: #f8f8f8;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	 color: #58acfa;
	 background: #f8f8f8;
}

.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: #58acfa;
  	background: #f8f8f8;
}

.margin-top {
	margin-top: 70px;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
    border-radius: 15px;
    margin-bottom: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
    color: #58acfa;
}

.add-tata-row {
	position: relative;
	border-bottom: 0.1em solid #e7e7e7;
	margin-bottom: 30px;
}
.add-tata-row a {
	position: absolute;
	bottom: 1px;
	color: #58acfa;
}
.add-tata-row a.right{
	right: 10px;
}
.add-tata-row a.partialright{
	right: 150px;
}
.add-tata-row a.left {
	left: 10px;
}
.panel-default {
	padding: 5px 5px 5px 5px;
	position: relative;
}
.panel-body {
	text-align: left;
}

.tata-link-view {
	position: absolute;
	top: 10px;
	right: 10px;
}
.tata-icon {
	font-size: 26px;
	float:	left; 
	padding: 0 30px 0 0;
	color: #777;
}
.tata-image {
	float:	left; 
	/*padding: 0 20px 0 0;*/
	margin: 0 20px 0 0;
	width: 50px;
	border-radius: 5px;
	background-image: url("images/empty_avatar.png")
}
.tata-icon-profile {
	font-size: 38px;
	float:	left; 
	padding: 10px 0 10px 0;
	color: #777;
}
.tata-details {
	font-size: 16px;
	padding: 0 0 0 15px;
}
.tata-data {
	vertical-align: middle;
	line-height: 60px;
}

.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

html, body { height: 100%; }

canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 150px;
    margin: 0 0 0 0;
}

.custom-file-input {
  color: transparent;
  width: 170px;
  height: 40px;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Seleziona immagine';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 5px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  width: 140px;
  height: 30px;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

.ratetable {
  width: 100%;
  align: center;
}
.ratetable td {
  text-align: center;
  vertical-align: middle;
  width: 36%;
}
.ratetable th {
  height: 30px;
  text-align: center;
  vertical-align: middle;
  width: 36%;
}

.ratetable td.left {
  text-align: left;
  padding-left: 6%;
  width: 28%;
}
.ratetable th.left {
  text-align: left;
  padding-left: 6%;
  width: 28%;
}

.edit-tata-rate {
	position: relative;
	margin-bottom: 30px;
	margin-top: 10px;
}
.edit-tata-rate a {
	position: absolute;
	bottom: 1px;
	color: #fff;
	background-color:#58acfa 
}
.edit-tata-rate a.right {
	right: 10px;
}
.edit-tata-rate a.partialright {
	right: 150px;
}
.edit-tata-rate a.left {
	left: 10px;
}
.profileImage {
	width: 100px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.footer-img {
	vertical-align:middle;
	width: 100px;
}

label.margins {
	margin-top: 5px;
	margin-bottom: 1px;
}