/* app css stylesheet */
.menu {
	list-style: none;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}

.menu:before {
	content: "[";
}

.menu:after {
	content: "]";
}

.menu>li {
	display: inline;
}

.menu>li:before {
	content: "|";
	padding-right: 0.3em;
}

.menu>li:nth-child(1):before {
	content: "";
	padding: 0;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
	font-size: 18px;
}

.navbar-nav > li {
	padding: 0 20px 0 20px;
}

.navbar .navbar-nav > .active > a, 
.navbar .navbar-nav > .active > a:hover, 
.navbar .navbar-nav > .active > a:focus {
	 color: #58acfa;
	 background: #f8f8f8;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	 color: #58acfa;
	 background: #f8f8f8;
}

.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: #58acfa;
  	background: #f8f8f8;
}

.margin-top {
	margin-top: 70px;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
    border-radius: 15px;
    margin-bottom: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
    color: #58acfa;
}

.add-tata-row {
	position: relative;
	border-bottom: 0.1em solid #e7e7e7;
	margin-bottom: 30px;
}
.add-tata-row a {
	position: absolute;
	bottom: 1px;
	color: #58acfa;
}
.add-tata-row a.right{
	right: 10px;
}
.add-tata-row a.left {
	left: 10px;
}
.panel-default {
	padding: 15px 5px 15px 5px;
	position: relative;
}
.panel-body {
	text-align: left;
}

.tata-link-view {
	position: absolute;
	top: 10px;
	right: 10px;
}
.tata-icon {
	font-size: 26px;
	float:	left; 
	padding: 0 30px 0 0;
	color: #777;
}
.tata-icon-profile {
	font-size: 38px;
	float:	left; 
	padding: 10px 0 10px 0;
	color: #777;
}
.tata-details {
	font-size: 16px;
	padding: 0 0 0 15px;
}

