/*
 * TATA APP STRUCTURE AND STYLE
 */


/* APP STRUCTURE */

.button.button-fab {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 17px;
    right: 11px;
    bottom: auto;
    left: auto;
    border-radius: 22px;
    /*box-shadow: 2px 2px 2px #c8c8c8;*/
}
.list-accordion .list .item-accordion .item-accordion-header,
.list-accordion .list .item-accordion .item-accordion-content,
.list-accordion .list .item-accordion .item-accordion-content p {
    white-space: normal;
}
.list-accordion .list .item-accordion .item-accordion-header i {
    transition: all 0.2s linear;
}
.list-accordion .list .item-accordion .item-accordion-header i.open {
    transform: rotate(-180deg);
}
.list-accordion .list .item-accordion .item-accordion-header i::before {
    font-size: 0.5em;
}
.list-accordion .list .item-accordion .item-accordion-content {
    border-top: 0;
    transition: all 0.2s linear;
}
.list-accordion .list .item-accordion .item-accordion-content.ng-hide {
    line-height: 0px;
    opacity: 0;
}
.swiper-container .swiper-pagination {
    display: none;
}
.swiper-container .how-pagination {
    text-align: center;
    margin-bottom: 1em;
}
.swiper-container .how-pagination i {
    opacity: 0.3;
    margin: 0.5em;
}
.swiper-container .how-pagination i.saw {
    opacity: 1;
}

/* APP STYLE OVVERRIDES */

.tataapp-theme a,
.tataapp-theme a:hover,
.tataapp-theme a:active,
.tataapp-theme a:visited {
    color: #ee7b40;
}
.tataapp-theme .bar.bar-energized {
    background-color: #ee7b40;
    border-color: #ee7b40;
    background-image: none;
}
.tataapp-theme .bar.bar-energized .title {
    color: #fff;
}
.tataapp-theme .bar.bar-energized .button {
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
}
.tataapp-theme .bar.bar-energized .button.button-fab {
    color: #68615d;
}
.tataapp-theme .menu,
.tataapp-theme .menu .list,
.tataapp-theme .menu .list .item,
.tataapp-theme .menu .list .item .item-content {
    color: #fff;
    background-color: #68615d;
    border-color: #68615d;
}
.tataapp-theme .menu .list .item span {
    font-size: smaller;
}
.tataapp-theme .button {
    text-transform: uppercase;
    font-size: 1em;
}
.tataapp-theme .button.button-stable {
    border-color: transparent;
    background-color: #c8c8c8;
    color: #68615d;
}
.tataapp-theme .button.button-stable.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #c8c8c8;
}
.tataapp-theme .button.button-stable.button-outline {
    border-color: #c8c8c8;
    background: transparent;
    color: #c8c8c8;
}
.tataapp-theme .button.button-stable.button-outline.active,
.tataapp-theme .button.button-stable.button-outline.activated {
    background-color: #c8c8c8;
    box-shadow: none;
    color: #68615d;
}
.tataapp-theme .button.button-positive {
    border-color: transparent;
    background-color: #eecf40;
    color: #68615d;
}
.tataapp-theme .button.button-positive.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #eecf40;
}
.tataapp-theme .button.button-positive.button-outline {
    border-color: #eecf40;
    background: transparent;
    color: #eecf40;
}
.tataapp-theme .button.button-positive.button-outline.active,
.tataapp-theme .button.button-positive.button-outline.activated {
    background-color: #eecf40;
    box-shadow: none;
    color: #68615d;
}
.tataapp-theme .list-accordion .list .item-accordion .item-accordion-header.activated {
    /* orange */
    background-color: rgba(238, 123, 64, 0.3);
}
.tataapp-theme .swiper-container .how-pagination {
    color: #68615d;
}

/* APP PAGES */
.home .slider-slides img {
    width: 100%;
}
.tataapp-theme .how .how-page::after {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*opacity: 0.9;*/
    position: absolute;
    z-index: -1;
    background: transparent no-repeat bottom right;
    background-size: 70%;
}
.tataapp-theme .how .how-page.how-page-1::after {
    background-image: url('../img/wizard_01.png');
}
.tataapp-theme .how .how-page.how-page-2::after {
    background-image: url('../img/wizard_02.png');
}
.tataapp-theme .how .how-page.how-page-3::after {
    background-image: url('../img/wizard_03.png');
}
.tataapp-theme .how .how-page.how-page-4::after {
    background-image: url('../img/wizard_04.png');
}
.tataapp-theme .how .how-page.how-page-5::after {
    background-image: url('../img/wizard_05.png');
}
.tataapp-theme .how ion-content {
    padding-top: 2em;
}
.tataapp-theme .how h1 {
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
}
