<div class="row">
	<div class="col-md-12">
		<div class="right-inner-addon">
    		<i class="glyphicon glyphicon-search"></i>
    		<input type="search" ng-model="q" class="form-control" placeholder="Cerca una tata" />
		</div>
	</div>
	<div class="col-md-12" ng-if="!showNewTataForm && !showTataDetails">
		<div class="add-tata-row">
    		<a class="right" href ng-click="newTata()">AGGIUNGI UNA TATA</a>
		</div>
	</div>
	<div class="col-md-12" ng-if="!showNewTataForm && showTataDetails">
		<h4><strong>TATA {{ vtata.name | uppercase }} PROFILO</strong></h4>
		<div class="add-tata-row">
			<a class="left" href ng-click="hideTata()"><i class="glyphicon glyphicon-arrow-left"></i></a>
    		<a class="right" href ng-click="editTata(vtata)">MODIFICA TATA</a>
		</div>
	</div>
</div>
<div class="row" ng-if="!showNewTataForm && !showTataDetails">
	<div class="col-md-12">
		<div ng-repeat="t in tatalist | filter:q | orderBy: 'name'">
			<div class="panel panel-default">
				<div class="tata-link-view">
					<a href ng-click="showTata(t)">VEDI PROFILO</a>
				</div>
				<div class="panel-body">
					<i class="glyphicon glyphicon-user tata-icon"></i>
			    	{{ t.name }} {{ t.surname }}
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function () {
        $('#datetimepicker1').datetimepicker({
           	//locale: 'en',
           	format: 'DD/MM/YYYY', 
         	viewMode: 'years'
        });
    });

</script>
<div class="row" ng-if="showNewTataForm && !showTataDetails">
	<div class="col-md-12">
		<form role="form" name="form">
			<div class="panel panel-default" width="100%">
				<h3 class="panel-title"><strong>CREA TATA</strong></h3>
			  		<div class="panel-body" text-align="left">	
					   	<div class="form-group">
					    	<label for="name">Nome</label>
					    	<input id="name" type="text" class="form-control" name="tName" ng-model="tata.name" ng-required="tataconf.name.required" placeholder="nome tata" >						   		
					    	<div class="alert alert-danger" ng-show="!isInit && form.tName.$error.required">Campo nome tata obbligatorio</div>
						</div>
						<div class="form-group">
					    	<label for="surname">Cognome</label>
					    	<input id="surname" type="text" class="form-control" name="tSurname" ng-model="tata.surname" ng-required="tataconf.surname.required" placeholder="cognome tata" >						   		
					    	<div class="alert alert-danger" ng-show="!isInit && form.tSurname.$error.required">Campo cognome tata obbligatorio</div>
						</div>
						<div class="form-group">
							<label for="birthdate">Data di nascita</label>
							<div class="input-group" id="datetimepicker1">
								<input id="birthdate" type="text" class="form-control" ng-model="tata.birthdate" ng-required="tataconf.birthdate.required"
									name="tBirthdate" placeholder="30/01/1970" />
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
							<div class="alert alert-danger" ng-show="!isInit && form.tBirthdate.$error.required">Campo data di nascita tata obbligatorio</div>
						</div>
						<div class="form-group">
					    	<label for="mail">Email</label>
					    	<input id="mail" type="text" class="form-control" name="tMail" ng-model="tata.email" ng-required="tataconf.email.required" ng-pattern="mailPattern" placeholder="mail tata" >						   		
					    	<div class="alert alert-danger" ng-show="!isInit && form.tMail.$error.required">Campo e-mail tata obbligatorio</div>
					    	<div class="alert alert-danger" ng-show="!isInit && form.tMail.$error.pattern">Campo e-mail tata non corretto</div>
						</div>
						<div class="form-group">
					    	<label for="address">Indirizzo</label>
					    	<input id="address" type="text" class="form-control" name="tAddress" ng-model="tata.address" ng-required="tataconf.address.required" placeholder="indirizzo tata" >						   		
					    	<div class="alert alert-danger" ng-show="!isInit && form.tAddress.$error.required">Campo indirizzo tata obbligatorio</div>
						</div>
						<div class="form-group">
					    	<label for="city">Citta'</label>
					    	<input id="city" type="text" class="form-control" name="tCity" ng-model="tata.city" ng-required="tataconf.city.required" placeholder="citta' tata" >
					    	<div class="alert alert-danger" ng-show="!isInit && form.tCity.$error.required">Campo citta' tata obbligatorio</div>
						</div>
						<div class="form-group">
							<label class="control-label" for="languages">Lingue parlate: </label>
							<table width="100%">
								<tr>
									<td><label><input type="checkbox" value="italiano" name="tLanguage" ng-model="tata.boollanguage[0]" ng-required="!someSelectedLang(tata.boollanguage)"> italiano</label></td>
								</tr>
								<tr>
									<td><label><input type="checkbox" value="inglese" name="tLanguage" ng-model="tata.boollanguage[1]" ng-required="!someSelectedLang(tata.boollanguage)"> inglese</label></td>
								</tr>
								<tr>
									<td><label><input type="checkbox" value="tedesco" name="tLanguage" ng-model="tata.boollanguage[2]" ng-required="!someSelectedLang(tata.boollanguage)"> tedesco</label></td>
								</tr>
								<tr>
									<td><label><input type="checkbox" value="francese" name="tLanguage" ng-model="tata.boollanguage[3]" ng-required="!someSelectedLang(tata.boollanguage)"> francese</label></td>
								</tr>
								<tr>
									<td><label><input type="checkbox" value="spagnolo" name="tLanguage" ng-model="tata.boollanguage[4]" ng-required="!someSelectedLang(tata.boollanguage)"> spagnolo</label></td>
								</tr>
								<tr>
									<td><div ng-show="!isInit && form.tLanguage.$error.required" class="alert alert-danger" role="alert">Linguaggio tata obbligatorio. Selezionare almeno una lingua.</div></td>
								</tr>
							</table>
						</div>
						<div class="form-group">
					    	<label for="carowner">Automunita</label>
					    	<label><input type="radio" ng-value="trueVal" name="tRadio" ng-model="tata.carOwner" ng-required="tata.carowner"> Si'</label>
					    	<label><input type="radio" ng-value="falseVal" name="tRadio" ng-model="tata.carOwner" ng-required="tata.carowner"> No</label>
					    	<div class="alert alert-danger" ng-show="!isInit && form.tCarOwner.$error.required">Campo obbligatorio</div>
						</div>	
					</div>
					<!-- <div class="field-error" ng-show="showUpdatingBPErrorMessage">{{ 'err_in_update_bikepoint' | i18n }}</div> -->
					<div class="row">
						<div class="col-md-offset-9 col-md-3">
							<button type="button" class="btn btn-default" ng-click="closeNewTataView()">ANNULLA</button>&nbsp;&nbsp;
							<button type="button" class="btn btn-primary" ng-click="createTata(form, tata)">SALVA</button>
						</div>
					</div>
				</div>
		</form>
	</div>
</div>
<div class="row" ng-if="showTataDetails && !showNewTataForm">
	<div class="col-md-12 tata-details" align="left">
		<div class="col-md-12">
			<i class="glyphicon glyphicon-user tata-icon-profile"></i>
		</div>
		<div class="col-md-12">
			<label>Nome: </label> {{ vtata.name }}
		</div>
		<div class="col-md-12">
			<label>Cognome: </label> {{ vtata.surname }}
		</div>
		<div class="col-md-12">
			<label>Data di nascita: </label> {{ vtata.birthdate | date:'dd/MM/yyyy' }}
		</div>
		<div class="col-md-12">
			<label>Email: </label> {{ vtata.email }}
		</div>
		<div class="col-md-12">
			<label>Indirizzo: </label> {{ vtata.address }}
		</div>
		<div class="col-md-12">
			<label>Citta': </label> {{ vtata.city }}
		</div>
		<div class="col-md-12">
			<label>Lingue conosciute: </label> {{ getStrings(vtata.languages) }}
		</div>
		<div class="col-md-12">
			<label>Automunita: </label><span ng-show="vtata.carOwner"> Si'</span><span ng-show="!vtata.carOwner"> No</span>
		</div>
	</div>
</div>	