<ion-view title="{{'title_fee' | translate}}" class="form estimate">
    <form name="form" novalidate>
        <ion-content class="has-header padding-horizontal">
            <ion-list>
                <item class="item-input">
                    <span class="input-label" ng-bind-html="'form_datefrom' | translate"></span>
                    <span class="date" ng-click="pickDate('from')">{{estimateform.dateFrom | date : dateFormat}}</span>
                </item>
                <item class="item-input">
                    <span class="input-label" ng-bind-html="'form_dateto' | translate"></span>
                    <span class="date" ng-click="pickDate('to')">{{estimateform.dateTo | date : dateFormat}}</span>
                </item>
                <item class="item-input">
                    <span class="input-label" ng-bind-html="'form_work_hours' | translate"></span>
                    <input type="number" min="0" placeholder="{{'form_work_hours_num' | translate}}" ng-model="estimateform.weeklyHour">
                </item>

                <ion-toggle ng-model="estimateform.disability">{{'form_disability' | translate}}</ion-toggle>

                <ion-toggle ng-model="estimateform.bonusAssignee">{{'form_service_stamps' | translate}}</ion-toggle>

                <item class="item-input" ng-if="!!estimateform.bonusAssignee">
                    <item class="item-input item-stacked-label">
                        <span class="input-label" ng-bind-html="'form_service_type' | translate"></span>
                        <ion-list class="list-inset">
                            <ion-checkbox ng-repeat="(val,type) in estimateform.types" ng-model="estimateform.bonusType" ng-true-value="'{{val}}'" ng-false-value="">{{type}}</ion-checkbox>
                        </ion-list>
                        <div class="note" ng-if="!!estimateform.bonusAssignee" ng-bind-html="'form_service_stamps_info' | translate"></div>
                    </item>
                </item>
            </ion-list>

            <div class="card padding" ng-if="!!estimation">
                <div ng-if="!!estimation && !!estimation.bonusRate">
                    <h4>{{'title_estimation_totalRate' | translate}}: {{estimation.totalRate}} €</h4>
                    <h4>{{'title_estimation_bonusRate' | translate}}: -{{estimation.bonusRate}} €</h4>
                </div>
                <h3>{{'title_estimation' | translate}}</h3>
                <h1>{{estimation.estimation}} €</h1>
                <p ng-bind-html="'popup_fee_attention' | translate"></p>
            </div>
        </ion-content>

        <ion-footer-bar class="bar-energized">
            <div class="button-bar">
                <button class="button button-clear" ng-click="estimate()" ng-disabled="!estimateform.weeklyHour">{{'btn_estimatefee' | translate}}</button>
                <!-- ng-disabled="form.$invalid" -->
            </div>
        </ion-footer-bar>
    </form>
</ion-view>
