<ion-view title="{{'app_name' | translate}}" class="home">
    <ion-nav-buttons side="right">
        <button class="button button-positive button-fab" ng-click="goTo('app.search', true, true)">
            <i class="icon ion-search"></i>
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header">
        <ion-slide-box auto-play="!!swiperOptions.autoplay" does-continue="{{!!swiperOptions.loop}}" slide-interval="{{swiperOptions.autoplay}}" show-pager="false">
            <ion-slide>
                <img src="img/homepage_01.png" />
            </ion-slide>
            <ion-slide>
                <img src="img/homepage_02.png" />
            </ion-slide>
            <ion-slide>
                <img src="img/homepage_03.png" />
            </ion-slide>
        </ion-slide-box>
        <div class="padding-horizontal">
            <h4 ng-bind-html="'text_home_1' | translate"></h4>
            <ul>
                <li ng-repeat="entry in entries" ng-bind-html="entry | translate"></li>
            </ul>
            <h4 ng-bind-html="'text_home_2' | translate"></h4>
            <a class="button button-positive button-block" ng-href="mailto:{{mailreceiver}}?subject={{'mail_ask4info1' | translate}}&body={{'mail_ask4info2' | translate}}">
                {{'btn_info' | translate}}
            </a>
            <p>
                <span ng-bind-html="'text_home_3' | translate"></span>
                <a href="https://www.facebook.com/tataapp/"><i class="icon ion-social-facebook"></i></a>
            </p>
        </div>
    </ion-content>
</ion-view>
