<ion-view title="{{'app_name' | translate}}">
    <ion-nav-buttons side="right">
        <button class="button button-positive button-fab" ng-click="goTo('app.search', true, true)">
            <i class="icon ion-search"></i>
        </button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <a class="button button-positive button-block" href="mailto:o.zambotti@fbk.eu?subject={{'mail_ask4info1' | translate}}&body={{'mail_ask4info2' | translate}}">
            {{'btn_info' | translate}}
        </a>
    </ion-content>
</ion-view>
