<ion-view title="{{'app_name' | translate}}" class="home">
    <ion-nav-buttons side="right">
        <button class="button button-positive button-fab" ng-click="goTo('app.search', null, true, true)">
            <i class="icon ion-search"></i>
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header" scroll="false">
        <ion-slide-box does-continue="{{!!swiperOptions.loop}}" show-pager="false">
            <ion-slide disable-scroll="false" ng-repeat="homePage in homePages">
                <img ng-src="{{homePage.image}}" />
                <h1 ng-bind-html="homePage.title | translate"></h1>
                <div class="home-pagination">
                    <i class="icon ion-record" ng-repeat="homePage in homePages" ng-class="{'saw': $index <= $parent.$index}"></i>
                </div>
                <ion-scroll>
                    <div class="padding-horizontal" ng-bind-html="homePage.content | translate"></div>
                    <div class="padding"><a href="" class="more-info" ng-click="goTo('app.' + homePage.state, null, true, true)">{{'more_info' | translate}}</a></div>
                </ion-scroll>
            </ion-slide>
        </ion-slide-box>
    </ion-content>

    <ion-footer-bar>

    </ion-footer-bar>
</ion-view>
