<ion-view title="{{'menu_how' | translate}}" class="how">
    <ion-nav-buttons side="right">
    </ion-nav-buttons>

    <ion-slides options="swiperOptions" slider="swiper" ion-wizard>
        <ion-slide-page ion-wizard-step ng-repeat="howPage in howPages">
            <ion-content class="has-header padding-top padding-horizontal how-page" ng-class="'how-page-' + ($index + 1)">
                <h1 ng-bind-html="howPage.title | translate"></h1>
                <div class="how-pagination">
                    <i class="icon ion-record" ng-repeat="howPage in howPages" ng-class="{'saw': $index <= $parent.$index}"></i>
                </div>
                <div ng-bind-html="howPage.content | translate"></div>
            </ion-content>
        </ion-slide-page>
    </ion-slides>
</ion-view>
