<ion-view title="{{nanny.name}}" class="nanny">
    <ion-nav-buttons side="right">
    </ion-nav-buttons>

    <ion-content class="padding">
        <ion-list>
            <item class="item item-thumbnail-left">
                <img ng-src="{{nanny.avatar}}" err-src="img/tataph.png" />
                <h3><span class="lbl" ng-bind-html="'nanny_name' | translate"></span> <span>{{nanny.name}}</span></h3>
                <!--<h3><span class="lbl" ng-bind-html="'nanny_surname' | translate"></span> <span>{{nanny.surname}}</span></h3>-->
                <h3><span class="lbl" ng-bind-html="'nanny_age' | translate"></span> <span>{{getAge(nanny)}}</span></h3>
            </item>
            <item class="item">
                <h3><span class="lbl" ng-bind-html="'nanny_origin' | translate"></span> <span>{{nanny.city}}</span></h3>
            </item>
            <item class="item" ng-if="!!nanny.qualification">
                <h3><span class="lbl" ng-bind-html="'nanny_qualification' | translate"></span></h3>
                <p>{{nanny.qualification}}</p>
            </item>
            <item class="item">
                <h3><span class="lbl" ng-bind-html="'nanny_description' | translate"></span></h3>
                <p>{{nanny.description}}</p>
            </item>
            <item class="item">
                <h3><span class="lbl" ng-bind-html="'nanny_updates' | translate"></span></h3>
                <p>{{nanny.updates}}</p>
            </item>
            <item class="item">
                <h3><span class="lbl" ng-bind-html="'nanny_languages' | translate"></span></h3>
                <ul>
                    <li ng-repeat="lang in nanny.languages" ng-bind-html="('LG_' + lang) | translate"></li>
                </ul>
            </item>
            <item class="item">
                <h3><span class="lbl" ng-bind-html="'nanny_carowner' | translate"></span> <span>{{(!!nanny.carOwner ? 'yes' : 'no') | translate}}</span></h3>
            </item>
            <item class="item" ng-if="!!nanny.available">
                <h3><span class="lbl" ng-bind-html="'nanny_availability' | translate"></span> <span>{{(!!nanny.available ? 'yes' : 'no') | translate}}</span></h3>
            </item>
        </ion-list>
        <button class="button button-positive button-block" ng-click="meetNanny(nanny)">
            {{'btn_meet_nanny' | translate}}
        </button>
    </ion-content>
</ion-view>
