<ion-view title="{{'title_nannies' | translate}}" class="searchresults">
    <ion-nav-buttons side="right">
    </ion-nav-buttons>

    <ion-content class="padding-horizontal">
        <ion-list>
            <div class="card" ng-repeat="nanny in nannies" ng-click="seeSearchResult(nanny)">
                <ion-item class="item item-avatar">
                    <img ng-src="{{nanny.avatar}}" />
                    <h2>{{nanny.name}} {{nanny.surname}}</h2>
                </ion-item>
            </div>
        </ion-list>

        <div ng-if="nannies != null && nannies.length == 0">
          <h4 class="text-center">{{'title_noresults' | translate}}</h4>
        </div>
    </ion-content>
</ion-view>
