<ion-view title="{{'title_searchresults' | translate}}">
    <ion-nav-buttons side="right">
    </ion-nav-buttons>

    <ion-content class="padding">
        <h4>{{'text_searchresults1' | translate}}</h4>
        <a href="" ng-click="seeSearchResultsList()"><h1>X</h1></a>
        <h4>{{'text_searchresults2n' | translate}}</h4>
        <button class="button button-positive button-block" ng-click="dummy('meet')">{{'btn_meet' | translate}}</button>
        <button class="button button-positive button-block" ng-click="dummy('info')">{{'btn_info' | translate}}</button>
        <button class="button button-positive button-block" ng-click="dummy('estimate')">{{'btn_estimate' | translate}}</button>
    </ion-content>
</ion-view>
