<ion-view title="{{'title_nannies' | translate}}">
    <ion-nav-buttons side="right">
    </ion-nav-buttons>

    <ion-content class="padding-horizontal">
        <ion-list>
            <div class="card" ng-repeat="nanny in nannies" ng-click="seeSearchResult(nanny)">
                <ion-item class="item-avatar">
                    <img src="img/tataph.png" />
                    <h2>{{nanny.name}} {{nanny.surname}}</h2>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
