<ion-view title="{{'menu_search' | translate}}">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ion-wizard-previous>{{'previous' | translate}}</button>
        <button class="button button-clear" ion-wizard-next>{{'next' | translate}}</button>
        <button class="button button-clear" ion-wizard-start="search()">{{'search' | translate}}</button>
    </ion-nav-buttons>

    <ion-slides slider="swiper" ion-wizard>
        <!--class="dapp-wizard" options="swiperOptions" slider="swiper"-->
        <ion-slide-page class="swiper-no-swiping" ion-wizard-step>
            <!--next-condition="!!wizard.school && !!wizard.route"-->
            <ion-content class="has-header">
                <div class="padding-horizontal">
                    <h1>Filter</h1>
                </div>
            </ion-content>
        </ion-slide-page>

        <ion-slide-page class="swiper-no-swiping" ion-wizard-step>
            <!--next-condition="!!wizard.driver"-->
            <ion-content class="has-header">
                <div class="padding-horizontal">
                    <h1>Date/time</h1>
                </div>
            </ion-content>
        </ion-slide-page>
    </ion-slides>
</ion-view>
