<ion-view title="{{'menu_search' | translate}}" class="search">
    <ion-slides slider="swiper" ion-wizard>
        <!--class="dapp-wizard" options="swiperOptions" slider="swiper"-->
        <ion-slide-page class="swiper-no-swiping" ion-wizard-step>
            <!--next-condition="!!wizard.school && !!wizard.route"-->
            <ion-content class="has-header padding-horizontal">
                <ion-list>
                    <item class="item-input item-select">
                        <span class="input-label" ng-bind-html="'form_agerange' | translate"></span>
                        <select ng-model="searchform.agerange" ng-options="agerange.value as agerange.label for agerange in ageranges"></select>
                    </item>
                    <item class="item-input item-stacked-label">
                        <span class="input-label" ng-bind-html="'form_languages' | translate"></span>
                        <ion-list class="list-inset">
                            <ion-checkbox ng-model="searchform.languages.it">{{'form_languages_it' | translate}}</ion-checkbox>
                            <ion-checkbox ng-model="searchform.languages.en">{{'form_languages_en' | translate}}</ion-checkbox>
                            <ion-checkbox ng-model="searchform.languages.de">{{'form_languages_de' | translate}}</ion-checkbox>
                            <item class="item-input item-input-sub">
                                <span class="input-label" ng-bind-html="'form_languages_other' | translate"></span>
                                <input type="text" ng-model="searchform.languages.other">
                            </item>
                        </ion-list>
                    </item>
                    <!--<ion-toggle ng-model="searchform.pickup">{{'form_pickup' | translate}}</ion-toggle>-->
                    <!--<ion-toggle ng-model="searchform.cook">{{'form_cook' | translate}}</ion-toggle>-->
                    <!--<ion-toggle ng-model="searchform.homework">{{'form_homework' | translate}}</ion-toggle>-->
                    <ion-toggle ng-model="searchform.car">{{'form_car' | translate}}</ion-toggle>
            </ion-content>
        </ion-slide-page>

        <ion-slide-page class="swiper-no-swiping" ion-wizard-step>
            <!--next-condition="!!wizard.driver"-->
            <ion-content class="has-header padding-horizontal">
                <ion-list>
                    <item class="item-input">
                        <span class="input-label" ng-bind-html="'form_datefrom' | translate"></span>
                        <span class="date" ng-click="pickDate('from')">{{searchform.dateFrom | date : dateFormat}}</span>
                    </item>
                    <item class="item-input">
                        <span class="input-label" ng-bind-html="'form_dateto' | translate"></span>
                        <span class="date" ng-click="pickDate('to')">{{searchform.dateTo | date : dateFormat}}</span>
                    </item>
                    <item class="item-input item-stacked-label">
                        <span class="input-label" ng-bind-html="'form_days' | translate"></span>
                        <ion-list class="list-inset checkboxes-horizontal">
                            <div class="row">
                                <div class="col">
                                    <ion-checkbox ng-model="searchform.days.mon">L</ion-checkbox>
                                </div>
                                <div class="col">
                                    <ion-checkbox ng-model="searchform.days.tue">M</ion-checkbox>
                                </div>
                                <div class="col">
                                    <ion-checkbox ng-model="searchform.days.wed">M</ion-checkbox>
                                </div>
                                <div class="col">
                                    <ion-checkbox ng-model="searchform.days.thu">G</ion-checkbox>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <ion-checkbox ng-model="searchform.days.fri">V</ion-checkbox>
                                </div>
                                <div class="col">
                                    <ion-checkbox ng-model="searchform.days.sat">S</ion-checkbox>
                                </div>
                                <div class="col">
                                    <ion-checkbox ng-model="searchform.days.sun">D</ion-checkbox>
                                </div>
                            </div>
                        </ion-list>
                    </item>
                    <item class="item-input item-stacked-label">
                        <span class="input-label" ng-bind-html="'form_timeslots' | translate"></span>
                        <ion-list class="list-inset">
                            <ion-checkbox ng-model="searchform.timeSlots.morning">{{'form_timeslots_morning' | translate}}</ion-checkbox>
                            <ion-checkbox ng-model="searchform.timeSlots.afternoon">{{'form_timeslots_afternoon' | translate}}</ion-checkbox>
                        </ion-list>
                    </item>
                </ion-list>
            </ion-content>
        </ion-slide-page>
    </ion-slides>

    <ion-footer-bar class="bar-energized">
        <div class="button-bar">
            <button class="button button-clear" ion-wizard-previous>{{'previous' | translate}}</button>
            <button class="button button-clear" ion-wizard-next>{{'next' | translate}}</button>
            <button class="button button-clear" ion-wizard-start="search()">{{'search' | translate}}</button>
        </div>
    </ion-footer-bar>
</ion-view>
