<ion-view title="{{'menu_vouchers' | translate}}" class="vouchers">
    <ion-nav-buttons side="right">
    </ion-nav-buttons>

    <ion-content class="padding">
        <div ng-bind-html="'text_vouchers' | translate"></div>
        <div class="image"><img src="img/buoniservizio.jpg" /></div>
        <div><span ng-bind-html="'text_vouchers_source' | translate"></span> <a href="" ng-click="openLink('http://www.fse.provincia.tn.it/opportunita/buoni_servizio/')">{{'text_vouchers_link' | translate}}</a></div>
    </ion-content>
</ion-view>
